{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-react",
      { "runtime": "automatic", "importSource": "@emotion/react" }
    ]
  ],
  "plugins": [
    "@emotion/babel-plugin",
    "@babel/plugin-proposal-optional-chaining"
  ]
}
